
body {
  background: #694187;
  height: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

div {
  background:#b686d1;
  padding: 25px;
  border-radius: 12px;
  width:27cm;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #8240eb;
  font-weight: bold;
  line-height: 1.0;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #875ad3;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #130118;
}

button {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background: #6a24b9;
  
}

button:hover {
  background: #10061c;
}

ul {
  list-style: none;
  margin-top: 10px;
}

li {
  background: #9e61c4;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li button {
  background: #6704a1;
  padding: 6px 10px;
}


footer {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #4d085e;
}